body {
    background-color: #1f1f1f;
    color: #dcdcdc;
    font-family: sans-serif;
}

#form-container {
    background-color: #3a3a3a;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

small {
    font-size: 0.6em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #dcdcdc;
    color: #1f1f1f;
    font-size: 1.1em;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #bdff00;
    color: #1f1f1f;
    font-size: 1.1em;
    cursor: pointer;
    animation-duration: 750ms;
}

button:hover {
    animation-duration: 1150ms;
    background-color: rebeccapurple;
    
}

#output-container {
    word-break: break-all;
    margin-top:10px;
    padding: 20px;
}

#output {
    margin-bottom: 10px;
    word-wrap: break-word;
    text-align: center;
    font-size: 1.5em;
}

#copy-btn-container {
    display: flex;
    justify-content: center;
}

#copy-btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #9400d3;
    color: #dcdcdc;
    font-size: 1.1em;
    margin-right: 10px;
    cursor: pointer;
}

/* #copy-btn:hover {
    background-color: #6a0dad;
}

#copied-msg {
    display: none;
    color: #bdff00;
    font-size: 0.9em;
} */
@media screen and (max-width: 519px) {
    h1 {
        font-size: 1.7em;
    }
}
@media screen and (min-width: 520px) {
    #output-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #output {
        font-size: 2em;
    }
    h1 {
        font-size: 2em;
        /* give a little more space between the form and the output */
    }
    label {
        font-size: 1.1em;
    }
}

@media screen and (min-width: 700px) {
    #output {
        font-size: 3em;
    }
}
